{% extends 'layout.html' %}

{% block body %}
  <h1>Employees</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>User Name</th>
      <th>Register Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for employee in employees %}
      <tr>
        <td>{{employee.employee_id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.register_date}}</td>
        <td><a href="edit_employee/{{employee.employee_id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_employee', id=employee.employee_id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}